.panel.panel-default
  .panel-body
    %p
      #{event.title} at #{event.address} in #{event.city}
      from #{event.start_time}
      -if event.end_time
        until #{event.end_time}
      about #{event.topics.join(", ")}
